# Berkshelf
Berksfile.lock
/cookbooks

# Bundler
.bundle
bin/
Gemfile.lock

# Chef
metadata.json
tmp/

# Editors
*~
*#
.#*
\#*#
.*.sw[a-z]
*.sublime-project
*.sublime-workspace
*.un~
.idea/
*.iml

# OS files
.DS_Store

# rbenv
.ruby-version

# Test Kitchen
.kitchen/
.kitchen.local.yml

# Vagrant
.vagrant

# vagrant-cache
.cache

*.png
