---
name: ci

"on":
  pull_request:
  push:
    branches:
      - main

jobs:
  lint-unit:
    uses: sous-chefs/.github/.github/workflows/lint-unit.yml@main
    permissions:
      actions: write
      checks: write
      pull-requests: write
      statuses: write
      issues: write

  integration:
    needs: lint-unit
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        os:
          - almalinux-9
          - almalinux-10
          - amazonlinux-2023
          - centos-stream-9
          - centos-stream-10
          - debian-11
          - debian-12
          - fedora-latest
          - opensuse-leap-15
          - oraclelinux-8
          - oraclelinux-9
          - ubuntu-2204
          - ubuntu-2404
        suite:
          - "installation-script-main"
          - "installation-script-test"
          - "installation-package"
          - "installation-tarball"
          - "install-and-stop"
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Debug
        run: |
          echo "OS: ${{ matrix.os }}"
          echo "Suite: ${{ matrix.suite }}"
          ls -la .

      - name: Test Kitchen
        uses: ./.github/actions/test-kitchen
        with:
          kitchen-yaml: kitchen.dokken.yml
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
          license-id: ${{ secrets.CHEF_LICENSE_KEY }}

  swarm:
    needs: lint-unit
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        os: ["ubuntu-2204"]
        suite: ["swarm"]
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup VirtualBox & Vagrant
        uses: ./.github/actions/virtualbox-setup

      - name: Test Kitchen
        uses: ./.github/actions/test-kitchen
        with:
          kitchen-yaml: kitchen.yml
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
          license-id: ${{ secrets.CHEF_LICENSE_KEY }}

  smoke:
    needs: lint-unit
    runs-on: ubuntu-latest
    strategy:
      matrix:
        os:
          - "almalinux-8"
          - "almalinux-9"
          - "debian-11"
          - "debian-12"
          - "rockylinux-8"
          - "rockylinux-9"
          - "ubuntu-2004"
          - "ubuntu-2204"
          - "ubuntu-2404"
        suite:
          - "smoke"
      fail-fast: false
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Setup VirtualBox & Vagrant
        uses: ./.github/actions/virtualbox-setup

      - name: Test Kitchen
        uses: ./.github/actions/test-kitchen
        with:
          kitchen-yaml: kitchen.yml
          suite: ${{ matrix.suite }}
          os: ${{ matrix.os }}
          license-id: ${{ secrets.CHEF_LICENSE_KEY }}

  final:
    needs: [lint-unit, integration, swarm, smoke]
    runs-on: ubuntu-latest
    steps:
      - name: Complete
        run: echo "All tests passed"
